{% extends 'main.html' %}
{% block content %}

<hr>
<div class="container">
    <h1>Complaint List</h1><br>
    <a href="{% url 'input_complaint' %}" class="btn btn-success btn-sm" role="button">Input Complaint</a>
    <br><br>
    <table class="table table-hover table-bordered border-dark">
        <thead>
            <tr>
                <th scope="col">Tanggal</th>
                <th scope="col">Jam Operasional</th>
                <th scope="col">Complaint</th>
                <th scope="col">Cabang</th>
                <th scope="col">Jenis</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for a in complaint %}
            <tr>
                <td>{{a.tanggal|date:"j M Y"}}</td>
                <td>{{a.jam_operasional|time:"H.i"}}</td>
                <td><a href="{% url 'detail_complaint' a.id %}">{{a.complaint}}</a></td>
                <td>{{a.cabang}}</td>
                <td>{{a.jenis}}</td>
                <td>{{a.status}}</td>
                <td><a href="{% url 'edit_complaint' a.id %}" class="btn btn-warning btn-sm" role="button">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">
        {% for i in banyak_halaman %}
            {% if i == halaman_aktif %}
            <li class="page-item active">
                <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}