{% extends 'main.html' %}
{% block content %}

<hr>
<div class="container">
    <div class="row">

        {% if sidebar_ceo %}
            {% include 'ceo/sidebar.html' %}
        {% else %}
            {% include 'manager/sidebar.html' %}
        {% endif %}

        <div class="col">
            <h1>Archive Tugas</h1>
            <br>
              <h2>Tugas Proyek</h2>

                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Tugas</th>
                        <th scope="col">Status</th>
                        <th scode="col">Deadline</th>
                    </tr>
                </thead>
                {% for isi in tugas_proyek %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <th>{{isi.pemilik_tugas.first_name}}</th>
                    <th><a href="{% url 'mdetail_proyek' isi.id %}">{{isi.judul}}</a></th> 
                    <th>{{isi.status}}</th>
                    <th>{{isi.deadline|time:"H:i"}}, {{isi.deadline|date:"d M Y"}}</th>
                </tr>
                {% endfor %}
                </table>
                <br><br>
              <h2>Tugas Rutin</h2>

            <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Tugas</th>
                </tr>
                </thead>
                {% for isi in tugas_rutin %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <th>{{isi.pemilik_tugas.first_name}}</th>
                    <th><a href="{% url 'progress_tugas_rutin' isi.id %}">{{isi.judul}}</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}