{% extends 'main.html' %}
{% block content %}

<style>
    .kontainer-form{
      width: 500px;
    }

    .tugas-berdasarkan-nama{
        position: relative;
        display: inline-block;
    }

    .nama-pemilik {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .nama-pemilik a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .nama-pemilik a:hover {background-color: #ddd;}

    .tugas-berdasarkan-nama:hover .nama-pemilik {display: block;}

    /* .tugas-berdasarkan-nama:hover .dropbtn {background-color: #3e8e41;} */
  </style>
  
  <hr>
  <div class="container">
      <div class="row">
          
        {% if sidebar_ceo %}
            {% include 'ceo/sidebar.html' %}
        {% else %}
            {% include 'manager/sidebar.html' %}
        {% endif %}

          <div class="col">

            <div class="tugas-berdasarkan-nama">
                <button type="button" class="dropbtn btn btn-primary btn-sm">Tampilkan Tugas</button>
                <div class="nama-pemilik">
                    {% for a in anggota %}
                        {% if a.id != 5 %}
                        <a href="{% url 'lihat_tugas_per_nama' a.id %}">{{a.first_name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <a class="btn btn-success btn-sm" href="{% url 'input_tugas_proyek_kelompok' %}" role="button">Input Tugas Proyek</a>
            <a class="btn btn-warning btn-sm" href="{% url 'input_tugas_rutin_kelompok' %}" role="button">Input Tugas Rutin</a>

            <br><br>

              <h2>Tugas Proyek</h2>

                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Tugas</th>
                        <th scope="col">Status</th>
                        <th scope="col">Deadline</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for isi in tugas_proyek %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <th>{{isi.pemilik_tugas.first_name}}</th>
                    <th><a href="{% url 'mdetail_proyek' isi.id %}">{{isi.judul}}</a></th> 
                    <th>{{isi.status}}</th>
                    <th>{{isi.deadline|time:"H:i"}}, {{isi.deadline|date:"d M Y"}}</th>
                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_proyek' isi.id %}">Archive</a></th>
                </tr>
                {% endfor %}
                </table>
                <br>
              <h2>Tugas Rutin</h2>

                {% if manager_marketing %}
                
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Tugas</th>
                                <th scope="col">Tuntas</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            {% for isi in tugas_rutin_marketing %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <th>{{isi.0}}</th>
                                <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                <th>{{isi.3}}/{{isi.4}}</th>
                                <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                            </tr>
                            {% endfor %}
                        </table>
        
                {% elif manager_finance %}

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-finance-tab" data-toggle="tab" href="#nav-finance" role="tab" aria-controls="nav-finance" aria-selected="false">Finance</a>
                        <a class="nav-link" id="nav-operation-tab" data-toggle="tab" href="#nav-operation" role="tab" aria-controls="nav-operation" aria-selected="true">Operation</a>                      
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-operation" role="tabpanel" aria-labelledby="nav-operation-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_operation %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                    <div class="tab-pane fade show active" id="nav-finance" role="tabpanel" aria-labelledby="nav-finance-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_finance %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                  </div>

                {% elif manager_hr %}
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-hr-tab" data-toggle="tab" href="#nav-hr" role="tab" aria-controls="nav-hr" aria-selected="false">Human Resource</a>
                        <a class="nav-link" id="nav-operation-tab" data-toggle="tab" href="#nav-operation" role="tab" aria-controls="nav-operation" aria-selected="true">Operation</a>
                        <a class="nav-link" id="nav-marketing-tab" data-toggle="tab" href="#nav-marketing" role="tab" aria-controls="nav-marketing" aria-selected="false">Marketing</a>
                        <a class="nav-link" id="nav-finance-tab" data-toggle="tab" href="#nav-finance" role="tab" aria-controls="nav-finance" aria-selected="false">Finance</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-hr" role="tabpanel" aria-labelledby="nav-hr-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_hr %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                    <div class="tab-pane fade" id="nav-operation" role="tabpanel" aria-labelledby="nav-operation-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_operation %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                    <div class="tab-pane fade" id="nav-marketing" role="tabpanel" aria-labelledby="nav-marketing-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_marketing %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                    <div class="tab-pane fade" id="nav-finance" role="tabpanel" aria-labelledby="nav-finance-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_finance %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                    
                  </div>
                {% else %}

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-link active" id="nav-operation-tab" data-toggle="tab" href="#nav-operation" role="tab" aria-controls="nav-operation" aria-selected="true">Operation</a>
                      <a class="nav-link" id="nav-marketing-tab" data-toggle="tab" href="#nav-marketing" role="tab" aria-controls="nav-marketing" aria-selected="false">Marketing</a>
                      <a class="nav-link" id="nav-finance-tab" data-toggle="tab" href="#nav-finance" role="tab" aria-controls="nav-finance" aria-selected="false">Finance</a>
                      <a class="nav-link" id="nav-hr-tab" data-toggle="tab" href="#nav-hr" role="tab" aria-controls="nav-hr" aria-selected="false">Human Resource</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-operation" role="tabpanel" aria-labelledby="nav-operation-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_operation %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                    <div class="tab-pane fade" id="nav-marketing" role="tabpanel" aria-labelledby="nav-marketing-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_marketing %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                    <div class="tab-pane fade" id="nav-finance" role="tabpanel" aria-labelledby="nav-finance-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_finance %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                    <div class="tab-pane fade" id="nav-hr" role="tabpanel" aria-labelledby="nav-hr-tab">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tugas</th>
                                    <th scope="col">Tuntas</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for isi in tugas_rutin_hr %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <th>{{isi.0}}</th>
                                    <th><a href="{% url 'progress_tugas_rutin' isi.2 %}">{{isi.1}}</a></th>
                                    <th>{{isi.3}}/{{isi.4}}</th>
                                    <th><a class="btn btn-warning" href="{% url 'eksekusi_archive_rutin' isi.2 %}">Archive</a></th>
                                </tr>
                                {% endfor %}
                            </table>
                    </div>
                  </div>

                {% endif %}
                <!-- ini adalah ujung divnya -->
          </div>
      </div>
  </div>

{% endblock %}