{% extends 'main.html' %}
{% block content %}

<style>
    .kontainer-form{
      width: 500px;
    }
  </style>
  
  <hr>
  <div class="container">
      <div class="row">
          
        {% if sidebar_ceo %}
            {% include 'ceo/sidebar.html' %}
        {% else %}
            {% include 'manager/sidebar.html' %}
        {% endif %}

          <div class="col">
                <h1>Detail Tugas</h1>

                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th scope="row">Judul</th>
                        <td>{{tugas.judul}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Isi</th>
                        <td>{{tugas.isi|linebreaks}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Deadline</th>
                        <td>{{tugas.deadline|time:"H:i"}}, {{tugas.deadline|date:"d M Y"}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Selesai pada</th>
                        <td>{{tugas.selesai_pada|time:"H:i"}}, {{tugas.selesai_pada|date:"d M Y"}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{tugas.status}}</td>
                    </tr>

                    {% if belum %}
                    <tr>
                        <th scope="row">Dokumen</th>
                        <td>Tidak ada dokumen yang diupload</td>
                    </tr>
                    {% else %}
                    <tr>
                        <th scope="row">Dokumen</th>
                        <td><a href="{{tugas.bukti}}" target="_blank">Dokumen</a></td>
                    </tr>
                    {% endif %}

                    {% if ada_link %}
                    <tr>
                        <th scope="row">Link</th>
                        <td><a href="{{tugas.link_bukti}}" target="_blank">Link</a></td>
                    </tr>
                    {% endif %}

                    {% if tuntas %}
                    <tr>
                        <th scope="row">Komentar</th>
                        <td>{{tugas.komentar}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Penilaian</th>
                        <td>{{tugas.penilaian}}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
                <a class="btn btn-warning" href="{% url 'edit_tugas_proyek' tugas.id %}" role="button">Edit</a>

                {% if nottuntas %}
                <span><a class="btn btn-primary" href="{% url 'tuntas' tugas.id %}" role="button">Tuntas</a></span>
                {% endif %}

                <span><a class="btn btn-info" href="{% url 'duplikasi_tugas_proyek' tugas.id %}" role="button">Duplicate</a></span>
                {% if not nottuntas and tombol_edit_nilai %}
                <span><a class="btn btn-primary" href="{% url 'edit_nilai' tugas.id %}" role="button">Edit Nilai</a></span>
                {% endif %}

          </div>
      </div>
  </div>

{% endblock %}