{% extends 'main.html' %}

{% block content %}

<style>
    .kontainer-form{
        width: 400px;
    }
</style>

<hr>
<div class="container">
    <div class="row">
        {% if sidebar_manager %}
            {% include 'manager/sidebar.html' %}
        {% else %}      
            {% include 'eksekutif/sidebar.html' %}
        {% endif %}
        <div class="col">
            <h1>Upload Dokumentasi</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <div class="form-group kontainer-form">
                    <label for="dokumen">Dokumen</label>
                    <input type="file" class="form-control" id="dokumen" name="dokumen">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}