{% extends 'psikotes/main.html' %}
{% block content %}

<style>
.kotak-petunjuk{
    border: 1px solid black;
    padding-top:5px;
    padding-bottom:30px;
    border-radius: 10px;
    display: flex;
    justify-content:center;
}

.mengerti{
    padding-top:20px;
    padding-bottom:30px;
    border-radius: 10px;
    display: flex;
    justify-content:center;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-left: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e6f4fc;
  padding: 20px;
  font-size: 20px;
  width: 160px;
}

#deadline{
    color: red;
}
</style>

<hr>
<div class="container">
    <div class="sticky"><strong>Sisa waktu</strong> <br> <span id="deadline"><strong>3:00</strong></span></div>
    <div class="row">
        <div class="col">
            <div class="kotak-petunjuk">
                <img src="/static/psikotes/18_hafalan.jpg" alt="Petunjuk 1" width="850">
            </div>
            <!-- <div class="mengerti">
                <a class="btn btn-success" href="#">Mengerti</a>
            </div> -->
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>

<script>
    // Deadline
    var menit = 3
    var detik = menit * 60

    // Update the count down every 1 second
    var x = setInterval(function() {

      detik -= 1
      var sisa_menit = Math.floor(detik/60)
      var sisa_detik = detik - (sisa_menit*60)

      document.getElementById("deadline").innerHTML = "<strong>" + sisa_menit + ':' + sisa_detik + "</strong>";
        
      if (detik == 0) {
        clearInterval(x);
        document.getElementById("deadline").innerHTML = "WAKTU HABIS";
        window.location = "http://45.80.181.171/soal_me_19/";
      }
    }, 1000);
</script>
{% endblock %}