<style>
    .custom-sidebar {
        border: 1px solid #50323893;
        border-radius: 15px;
        /* background-color: 	#f7f9fb; */
    }
</style>

<div class="col-sm-2">
    <nav class="nav flex-column pl-1 custom-sidebar">
        <a class="tombol-navigasi nav-link" href="{% url 'data_sold' %}">Data Sold</a>
        <a class="tombol-navigasi nav-link" href="{% url 'data_sold_percabang' %}">Data Sold Percabang</a>
        <a class="tombol-navigasi nav-link" href="{% url 'sku' %}">SKU</a>
        <a class="tombol-navigasi nav-link" href="{% url 'update_sku' %}">Cek Update SKU</a>
        <a class="tombol-navigasi nav-link" href="{% url 'kategori' %}">Kategori</a>
    </nav>
</div>