{% extends 'IT/main.html' %}

{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        overflow-x: auto;
        border: 1px solid black;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    th {
        background-color: #d20001;
        opacity: 0.7;
        color: white;
    }

    .custom-table {
        width: 80%;
        margin-top: 20px;
        margin-right: auto;
    }

    .tabel {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h1>Halaman Utama</h1>
<hr>
<div class="custom-table">

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Username</th>
                <th>Kode Pelanggan</th>
                <th>QR Code</th>
                <th>Total Visit</th>
            </tr>
        </thead>
        <tbody>
            {% for a in akun %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{a.username}}</td>
                <td>{{a.customer_code}}</td>
                <td><img src="../{{ a.link_qrcode }}" alt="{{a.customer_code}}"></td>
                <td>{{a.total_visit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}