{% extends 'main.html' %}
{% block content %}

<hr>
<div class="container">
    <div class="row">

        {% include 'human_resource/sidebar.html' %}
        <div class="col">
            <h1>Generate Token</h1>
            <br>
            <form action="" class="form-inline" method="POST">
                {% csrf_token %}
                <div class="form-group mx-sm-3 mb-2">
                    <label for="banyak_token" class="sr-only">Banyak token</label>
                    <input type="number" min="1" class="form-control" id="banyak_token" name="banyak_token" placeholder="Banyak token">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Generate</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}