<style>
    .home-status{
        background-color: #deefff;
        padding : 15px;
        border-radius: 10px;
    }
    table, th, td{
        border: 1px solid black;
        border-spacing: 0px;
        padding: 8px;
        background-color: white;
    }
    .judul-tabel{
        background-color: #ff9e9e;
    }

    .paragraf-visi{
        font-size: 25px;
        text-align: center;
    }
    .janji-crisbar{
        font-size: 27px;
        text-align: center;
        color: #fc0404;
    }

    .kontainer-papan-skor{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .anak-flex1{
        background-color: #08bc04;
        color: white;
        text-align: center;
        padding : 7px;
        flex-grow: 1;
        margin: 5px;
        border-radius: 5px;
    }
    .anak-flex2{
        color: white;
        background-color: #f8541c;
        text-align: center;
        padding : 7px;
        flex-grow: 1;
        margin: 5px;
        border-radius: 5px;
    }
    .anak-flex3{
        color: white;
        background-color: #ffdc64;
        text-align: center;
        padding : 7px;
        flex-grow: 1;
        margin: 5px;
        border-radius: 5px;
    }
    .anak-flex4{
        color: white;
        background-color: #709cec;
        text-align: center;
        padding : 7px;
        flex-grow: 1;
        margin: 5px;
        border-radius: 5px;
    }

    .kaki-papan-skor{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .angka-dalam-anak{
        font-size: 50px;
    }
    .judul-dalam-anak{
        font-size: 25px;
    }

    .hati-hati{
        color: white;
        background-color: #ff0404;
    }

    .pertahankan{
        background-color: #08fc04;
    }
</style>

<div class="home-status">
    <h2><strong>Visi Crisbar</strong></h2>
    <p class="paragraf-visi">Menjadi merek jaringan makanan <em>cepat saji <strong>favorit</strong></em> dan <em><strong>langganan</strong></em> Indonesia</p>
    <h2><strong>Janji Crisbar</strong></h2>
    <p class="janji-crisbar"><strong>SENYUM MANIS, RASA MANIS, MOMEN MANIS</strong></p>
    <h2 style="text-align: center;"><strong>PAPAN SKOR</strong></h2>
    <h3 style="text-align: center;"><strong>BISNIS CRISBAR</strong></h3>
    <h4 style="text-align: center;">{{periode_kerja}}</h4>
    <div class="kontainer-papan-skor">
        <div class="anak-flex1">
            <h5 class="judul-dalam-anak">KOMPLAIN <br> PELANGGAN</h5>
            <div class="angka-dalam-anak"><strong>{{query_box_home.complaint.total_complaint}}</strong></div>
            <div class="kaki-papan-skor">
                <div>
                    <div>Sebelum</div>
                    <div><strong>{{query_box_home.complaint.sebelum}}</strong></div>
                </div>
                <div>
                    <div>Trend</div>
                    <div><strong>{{query_box_home.complaint.trend}}</strong></div>
                </div>
            </div>
        </div>
        <div class="anak-flex2">
            <h5 class="judul-dalam-anak">KEPUASAN <br> PELANGGAN</h5>
            <div class="angka-dalam-anak"><strong>{{query_box_home.kepuasan_pelanggan.avg_semua}}</strong></div>
            <div class="kaki-papan-skor">
                <div>
                    <div>Sebelum</div>
                    <div><strong>{{query_box_home.kepuasan_pelanggan.sebelum}}</strong></div>
                </div>
                <div>
                    <div>Trend</div>
                    <div><strong>{{query_box_home.kepuasan_pelanggan.trend}}</strong></div>
                </div>
            </div> 
        </div>
        <div class="anak-flex3">
            <h5 class="judul-dalam-anak">TREN <br> PENJUALAN</h5>
            <div class="angka-dalam-anak"><strong>{{tren_penjualan}}</strong></div>
            <div class="kaki-papan-skor">
                <div>
                    <div>Sebelum</div>
                    <div><strong>{{tren_penjualan_sebelum}}</strong></div>
                </div>
                <div>
                    <div>Trend</div>
                    {% if selisih_tren_penjualan.0 == '-' %}
                    <div><strong>{{selisih_tren_penjualan}}↓</strong></div>
                    {% else %}
                    <div><strong>+{{selisih_tren_penjualan}}↑</strong></div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <div class="anak-flex4">
            <h5 class="judul-dalam-anak">TREN <br> PELANGGAN</h5>
            <div class="angka-dalam-anak"><strong>{{tren_pelanggan_box.periode_ini}}</strong></div>
            <div class="kaki-papan-skor">
                <div>
                    <div>Sebelum</div>
                    <div><strong>{{tren_pelanggan_box.periode_lalu}}</strong></div>
                </div>
                <div>
                    <div>Trend</div>
                    {% if tren_pelanggan_box.kenaikan_penurunan.0 == '-' %}
                    <div><strong>{{tren_pelanggan_box.kenaikan_penurunan}}↓</strong></div>
                    {% else %}
                    <div><strong>{{tren_pelanggan_box.kenaikan_penurunan}}↑</strong></div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

    <br>
    <h3><strong>Komplain Pelanggan</strong></h3>
    <h5>{{periode_kerja}} vs. {{periode_kerja_sebelumnya}}</h5>
    <table>
        <thead>
            <tr>
                <th scope="col" class="judul-tabel" style="width:14%">Cabang</th>
                <th scope="col" class="judul-tabel" style="width:16%">Kualitas Produk</th>
                <th scope="col" class="judul-tabel" style="width:10%">Kebersihan</th>
                <th scope="col" class="judul-tabel" style="width:11%">Pelayanan</th>
                <th scope="col" class="judul-tabel" style="width:15%">Tidak Lengkap</th>
                <th scope="col" class="judul-tabel" style="width:16%">Total Komplain</th>
                <th scope="col" class="judul-tabel" style="width:18%">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for comp in complaint %}
            <tr>
                {% for c in comp %}
                    {% if c.1.0 == '-' %}
                        <td><strong>{{c.0}}</strong> <span style="color:green; opacity:50%;">({{c.1}})</span></td>
                    {% elif c.1.0 == '+' %}
                        <td><strong>{{c.0}}</strong> <span style="color:red; opacity:50%;">({{c.1}})</span></td>
                    {% else %}
                        <td><strong>{{c.0}}</strong></td>
                    {% endif %}
                {% endfor %}

                {% if comp.5.1.0 == '-' %}
                    <td class="pertahankan"><strong>PERTAHANKAN</strong></td>
                {% elif comp.5.1.0 == '+' %}
                    <td class="hati-hati"><strong>HATI-HATI!</strong></td>
                {% else %}
                    <td class="pertahankan"><strong>PERTAHANKAN</strong></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>
    <h3><strong>Kepuasan Pelanggan</strong></h3>
    <h5>{{periode_kerja}} vs. {{periode_kerja_sebelumnya}}</h5>
    <table>
        <thead>
            <tr>
                <th scope="col" class="judul-tabel" style="width:16%">Cabang</th>
                <th scope="col" class="judul-tabel" style="width:12%">GOOGLE</th>
                <th scope="col" class="judul-tabel" style="width:12%">GO FOOD</th>
                <th scope="col" class="judul-tabel" style="width:13%">GRAB FOOD</th>
                <th scope="col" class="judul-tabel" style="width:13%">SURVEY</th>
                <th scope="col" class="judul-tabel" style="width:14%">TOTAL AVG.</th>
                <th scope="col" class="judul-tabel" style="width:20%">STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for kp in query_kepuasan_pelanggan %}
                <tr>
                    <th scope="row">{{kp.0}}</th>
                    {% if kp.2.0 == '+' %}
                        <td><strong>{{kp.1}}</strong> <span style="color:green; opacity:50%;">({{kp.2}})</span></td>
                    {% elif kp.2.0 == '-' %}
                        <td><strong>{{kp.1}}</strong> <span style="color:red; opacity:50%;">({{kp.2}})</span></td>
                    {% else %}
                        <td><strong>{{kp.1}}</strong></span></td>
                    {% endif %}

                    {% if kp.4.0 == '+' %}
                        <td><strong>{{kp.3}}</strong> <span style="color:green; opacity:50%;">({{kp.4}})</span></td>
                    {% elif kp.4.0 == '-' %}
                        <td><strong>{{kp.3}}</strong> <span style="color:red; opacity:50%;">({{kp.4}})</span></td>
                    {% else %}
                        <td><strong>{{kp.3}}</strong></span></td>
                    {% endif %}
                
                    {% if kp.6.0 == '+' %}
                        <td><strong>{{kp.5}}</strong> <span style="color:green; opacity:50%;">({{kp.6}})</span></td>
                    {% elif kp.6.0 == '-' %}
                        <td><strong>{{kp.5}}</strong> <span style="color:red; opacity:50%;">({{kp.6}})</span></td>
                    {% else %}
                        <td><strong>{{kp.5}}</strong></span></td>
                    {% endif %}

                    {% if kp.8.0 == '+' %}
                        <td><strong>{{kp.7}}</strong> <span style="color:green; opacity:50%;">({{kp.8}})</span></td>
                    {% elif kp.8.0 == '-' %}
                        <td><strong>{{kp.7}}</strong> <span style="color:red; opacity:50%;">({{kp.8}})</span></td>
                    {% else %}
                        <td><strong>{{kp.7}}</strong></span></td>
                    {% endif %}

                    {% if kp.10.0 == '+' %}
                        <td><strong>{{kp.9}}</strong> <span style="color:green; opacity:50%;">({{kp.10}})</span></td>
                    {% elif kp.10.0 == '-' %}
                        <td><strong>{{kp.9}}</strong> <span style="color:red; opacity:50%;">({{kp.10}})</span></td>
                    {% else %}
                        <td><strong>{{kp.9}}</strong></span></td>
                    {% endif %}

                    {% if kp.10.0 == '+' %}
                        <td class="pertahankan"><strong>PERTAHANKAN</strong></td>
                    {% elif kp.10.0 == '-' %}
                        <td class="hati-hati"><strong>HATI-HATI!</strong></td>
                    {% else %}
                        <td class="pertahankan"><strong>PERTAHANKAN</strong></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <h3><strong>Tren Penjualan Harian</strong></h3>
    <div class="row" style="margin-bottom:7px;">
        <div class="col-md-auto"><h5>{{periode_kerja}} vs. {{periode_kerja_sebelumnya}}</h5></div>
    </div>

    <!-- # GO FOOD, GRABFOOD, SHOPEE FOOD, DINE IN TAKEAWAY -->
    <table>
        <thead>
            <tr>
                <th scope="col" class="judul-tabel" style="width:20%">CABANG</th>
                <th scope="col" class="judul-tabel" style="width:20%">DINE IN & TAKEAWAY</th>
                <th scope="col" class="judul-tabel" style="width:20%">GO FOOD</th>
                <th scope="col" class="judul-tabel" style="width:20%">GRAB FOOD</th>
                <th scope="col" class="judul-tabel" style="width:20%">SHOPEE FOOD</th>
                
            </tr>
        </thead>
        <tbody>
            {% for isi in query_table_penjualan %}
            <tr>
                <td><strong>{{isi.0}}</strong></td>

                {% if isi.4.1.0 == '-' %}
                    <td><strong>{{isi.4.0}}</strong><br><span style="color:red; opacity:50%;">({{isi.4.1}})</span></td>
                {% else %}
                    <td><strong>{{isi.4.0}}</strong><br><span style="color:green; opacity:50%;">(+{{isi.4.1}})</span></td>
                {% endif %}

                {% if isi.1.1.0 == '-' %}
                    <td><strong>{{isi.1.0}}</strong><br><span style="color:red; opacity:50%;">({{isi.1.1}})</span></td>
                {% else %}
                    <td><strong>{{isi.1.0}}</strong><br><span style="color:green; opacity:50%;">(+{{isi.1.1}})</span></td>
                {% endif %}

                {% if isi.2.1.0 == '-' %}
                    <td><strong>{{isi.2.0}}</strong><br><span style="color:red; opacity:50%;">({{isi.2.1}})</span></td>
                {% else %}
                    <td><strong>{{isi.2.0}}</strong><br><span style="color:green; opacity:50%;">(+{{isi.2.1}})</span></td>
                {% endif %}

                {% if isi.3.1.0 == '-' %}
                    <td><strong>{{isi.3.0}}</strong><br><span style="color:red; opacity:50%;">({{isi.3.1}})</span></td>
                {% else %}
                    <td><strong>{{isi.3.0}}</strong><br><span style="color:green; opacity:50%;">(+{{isi.3.1}})</span></td>
                {% endif %}

                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    

    <br>
    <h3><strong>Tren Pelanggan Harian</strong></h3>
    <h5>{{periode_kerja}} vs. {{periode_kerja_sebelumnya}}</h5>
    <table>
        <thead>
            <tr>
                <th scope="col" class="judul-tabel" style="width:20%">CABANG</th>
                <th scope="col" class="judul-tabel" style="width:20%">DINE IN & TAKE AWAY</th>
                <th scope="col" class="judul-tabel" style="width:20%">GO FOOD</th>
                <th scope="col" class="judul-tabel" style="width:20%">GRAB FOOD</th>
                <th scope="col" class="judul-tabel" style="width:20%">SHOPEE FOOD</th>
            </tr>
        </thead>
        <tbody>
            
            {% for d in query_table_tren_pelanggan %}
            <tr>
                <td><strong>{{d.0}}</strong></td>

                {% if d.1.1.0 == '-' %}
                <td><strong>{{d.1.0}}</strong><span style="color:red; opacity:50%;"> ({{d.1.1}})</span></td>
                {% else %}
                <td><strong>{{d.1.0}}</strong><span style="color:green; opacity:50%;"> ({{d.1.1}})</span></td>
                {% endif %}

                {% if d.2.1.0 == '-' %}
                <td><strong>{{d.2.0}}</strong><span style="color:red; opacity:50%;"> ({{d.2.1}})</span></td>
                {% else %}
                <td><strong>{{d.2.0}}</strong><span style="color:green; opacity:50%;"> ({{d.2.1}})</span></td>
                {% endif %}

                {% if d.3.1.0 == '-' %}
                <td><strong>{{d.3.0}}</strong><span style="color:red; opacity:50%;"> ({{d.3.1}})</span></td>
                {% else %}
                <td><strong>{{d.3.0}}</strong><span style="color:green; opacity:50%;"> ({{d.3.1}})</span></td>
                {% endif %}

                {% if d.4.1.0 == '-' %}
                <td><strong>{{d.4.0}}</strong><span style="color:red; opacity:50%;"> ({{d.4.1}})</span></td>
                {% else %}
                <td><strong>{{d.4.0}}</strong><span style="color:green; opacity:50%;"> ({{d.4.1}})</span></td>
                {% endif %}
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <br>
    <br>
    <br>
    <br>
    
</div>