<style>
    .home-status{
        background-color: #deefff;
        padding : 15px;
        border-radius: 10px;
    }
    table, th, td{
        border: 1px solid black;
        border-spacing: 0px;
        padding: 8px;
        background-color: white;
    }
    .judul-tabel{
        background-color: #ff9e9e;
    }
</style>

<div class="home-status">
    <h3>Complaint Periode {{periode_kerja}}</h3>
    <table>
        <thead>
            <tr>
                <th scope="col" class="judul-tabel" style="width:20%">Cabang</th>
                <th scope="col" class="judul-tabel" style="width:18%">Kualitas Produk</th>
                <th scope="col" class="judul-tabel" style="width:12%">Kebersihan</th>
                <th scope="col" class="judul-tabel" style="width:13%">Pelayanan</th>
                <th scope="col" class="judul-tabel" style="width:17%">Tidak Lengkap</th>
                <th scope="col" class="judul-tabel" style="width:20%">Total Komplain</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Antapani</th>
                {% for a in complaint.0 %}
                    {% if a.1.0 == '-' %}
                        <td><strong>{{a.0}}</strong> <span style="color:green; opacity:50%;">({{a.1}})</span></td>
                    {% elif a.1.0 == '+' %}
                        <td><strong>{{a.0}}</strong> <span style="color:red; opacity:50%;">({{a.1}})</span></td>
                    {% else %}
                        <td><strong>{{a.0}}</strong></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Cisitu</th>
                {% for a in complaint.1 %}
                    {% if a.1.0 == '-' %}
                        <td><strong>{{a.0}}</strong> <span style="color:green; opacity:50%;">({{a.1}})</span></td>
                    {% elif a.1.0 == '+' %}
                        <td><strong>{{a.0}}</strong> <span style="color:red; opacity:50%;">({{a.1}})</span></td>
                    {% else %}
                        <td><strong>{{a.0}}</strong></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Jatinangor</th>
                {% for a in complaint.2 %}
                    {% if a.1.0 == '-' %}
                        <td><strong>{{a.0}}</strong> <span style="color:green; opacity:50%;">({{a.1}})</span></td>
                    {% elif a.1.0 == '+' %}
                        <td><strong>{{a.0}}</strong> <span style="color:red; opacity:50%;">({{a.1}})</span></td>
                    {% else %}
                        <td><strong>{{a.0}}</strong></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Metro</th>
                {% for a in complaint.3 %}
                    {% if a.1.0 == '-' %}
                        <td><strong>{{a.0}}</strong> <span style="color:green; opacity:50%;">({{a.1}})</span></td>
                    {% elif a.1.0 == '+' %}
                        <td><strong>{{a.0}}</strong> <span style="color:red; opacity:50%;">({{a.1}})</span></td>
                    {% else %}
                        <td><strong>{{a.0}}</strong></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Sukabirus</th>
                {% for a in complaint.4 %}
                    {% if a.1.0 == '-' %}
                        <td><strong>{{a.0}}</strong> <span style="color:green; opacity:50%;">({{a.1}})</span></td>
                    {% elif a.1.0 == '+' %}
                        <td><strong>{{a.0}}</strong> <span style="color:red; opacity:50%;">({{a.1}})</span></td>
                    {% else %}
                        <td><strong>{{a.0}}</strong></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Sukapura</th>
                {% for a in complaint.5 %}
                    {% if a.1.0 == '-' %}
                        <td><strong>{{a.0}}</strong> <span style="color:green; opacity:50%;">({{a.1}})</span></td>
                    {% elif a.1.0 == '+' %}
                        <td><strong>{{a.0}}</strong> <span style="color:red; opacity:50%;">({{a.1}})</span></td>
                    {% else %}
                        <td><strong>{{a.0}}</strong></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Sukajadi</th>
                {% for a in complaint.6 %}
                    {% if a.1.0 == '-' %}
                        <td><strong>{{a.0}}</strong> <span style="color:green; opacity:50%;">({{a.1}})</span></td>
                    {% elif a.1.0 == '+' %}
                        <td><strong>{{a.0}}</strong> <span style="color:red; opacity:50%;">({{a.1}})</span></td>
                    {% else %}
                        <td><strong>{{a.0}}</strong></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Unjani</th>
                {% for a in complaint.7 %}
                    {% if a.1.0 == '-' %}
                        <td><strong>{{a.0}}</strong> <span style="color:green; opacity:50%;">({{a.1}})</span></td>
                    {% elif a.1.0 == '+' %}
                        <td><strong>{{a.0}}</strong> <span style="color:red; opacity:50%;">({{a.1}})</span></td>
                    {% else %}
                        <td><strong>{{a.0}}</strong></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">All Crisbar</th>
                {% for a in complaint.8 %}
                    {% if a.1.0 == '-' %}
                        <td><strong>{{a.0}}</strong> <span style="color:green; opacity:50%;">({{a.1}})</span></td>
                    {% elif a.1.0 == '+' %}
                        <td><strong>{{a.0}}</strong> <span style="color:red; opacity:50%;">({{a.1}})</span></td>
                    {% else %}
                        <td><strong>{{a.0}}</strong></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
    
</div>