

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        .kotak-flex{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .tabel1{
            
        }
        .tabel2{
            
        }
    </style>
</head>

<body>

    {% include 'navbar.html' %}

    <div class="container">
        <hr>
        <h1>Klasemen</h1>
        <br>
        <div class="kotak-flex">
            <div class="tabel1">
                <table class="table lebartabel">
                    <thead>
                        <tr>
                          <th scope="col">Rank</th>
                          <th scope="col">Nama</th>
                          <th scope="col">Nilai Akhir</th>
                        </tr>
                    </thead>
                        {% for user in orang_office %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <th>{{user.0.first_name}}</th>
                            <th>{{user.1}}</th>        
                        </tr>
                        {% endfor %}
                    </table>
            </div>
            <div class="tabel2">
                <table class="table lebartabel">
                    <thead>
                        <tr>
                          <th scope="col">Rank</th>
                          <th scope="col">Nama</th>
                          <th scope="col">Nilai Akhir</th>
                        </tr>
                    </thead>
                        {% for user in non_office %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <th>{{user.0.first_name}}</th>
                            <th>{{user.1}}</th>        
                        </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
    
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>

</html>