<style>
    .hello-msg {
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>

                {% if data_kar %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="humanResource" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Human Resource
                    </a>
                    <div class="dropdown-menu" aria-labelledby="humanResource">
                    <a class="dropdown-item" href="{% url 'data_karyawan' %}">Data Karyawan</a>
                    <a class="dropdown-item" href="{% url 'index_alat_test' %}">Psikotes</a>
                    </div>
                </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="marketing" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Marketing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="marketing">
                    <a href="{% url 'average_check' %}" class="dropdown-item">Average Check</a>
                    <a href="{% url 'omset' %}" class="dropdown-item">Omset</a>
                    <a href="{% url 'complaint_list' %}" class="dropdown-item">Complaint</a>
                    <a href="{% url 'mystery_guest' %}" class="dropdown-item">Mystery Guest</a>
                    <a href="{% url 'kepuasan_pelanggan' %}" class="dropdown-item">Kepuasan Pelanggan</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sistemsc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Supply Chain
                    </a>
                    <div class="dropdown-menu" aria-labelledby="sistemsc">
                    <a href="{% url 'index_supply_chain' %}" class="dropdown-item">Demand Ayam</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="operation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Operation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="operation">
                        <a href="{% url 'index_operation' %}" class="dropdown-item">Produksi Harian</a>
                        <a href="{% url 'complaint_operasional' %}" class="dropdown-item">Kaizen Dari Tim Outlet</a>
                        <a href="{% url 'index_rm_app' %}" class="dropdown-item">RM App</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sistemsp" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sistem SP
                    </a>
                    <div class="dropdown-menu" aria-labelledby="sistemsp">
                    <a href="{% url 'klasemen' %}" class="dropdown-item">Klasemen</a>
                    <a href="{% url 'rekap' %}" class="dropdown-item">Rekap</a>
                    {% if data_kar %}<a href="{% url 'index_sp' %}" class="dropdown-item">Evaluasi</a>{% endif %}
                    </div>
                </li>
            </ul>
        </div>
        <span class="hello-msg">Halo, {{nama}}</span>

        <span><button type="button" class="btn btn-primary "><a class="hello-msg mr-1 text-center"
                    href="{% url 'profile' %}">Profile</a></button></span>

        <span><button type="button" class="btn btn-danger"><a class="hello-msg mr-1 text-center"
                    href="{% url 'logout' %}">Logout</a></button></span>
    </div>
</nav>