{% extends 'rm_app/main.html' %}
{% block content %}

{% include 'rm_app/navbar.html' %}

<hr>
<div class="container">
    <h1>Opname</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="sisa_ayam">Stok Ayam (gram)</label>
          <input type="number" class="form-control" name="sisa_ayam" id="sisa_ayam">
        </div>
        <div class="form-group">
            <label for="sisa_chicken_skin">Stok Chicken Skin (gram)</label>
            <input type="number" class="form-control" name="sisa_chicken_skin" id="sisa_chicken_skin">
          </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>

</div>

{% endblock %}