{% extends 'rm_app/main.html' %}
{% block content %}

{% include 'rm_app/navbar.html' %}

<hr>
<div class="container">
    <h1>Produksi Ayam</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="angka_produksi_ayam">Produksi Ayam (Pcs)</label>
          <input type="number" class="form-control" name="angka_produksi_ayam" id="angka_produksi_ayam">
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>

</div>

{% endblock %}